In [4]:
import pandas as pd 
import numpy as np

In [5]:
df = pd.read_pickle("./resources/data/hist_Close.pkl")

In [6]:
# df_head = df.head()

# print(df.head())

# min_date = df_head.index.min()
# max_date = df_head.index.max()

# idx = pd.date_range(min_date, max_date)

# df_head = df_head.reindex(idx, fill_value = np.nan)

# print(df_head)

In [39]:
df = pd.read_pickle('./resources/data/stocks_history/SBIN.pkl')

In [40]:
df.tail()

,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,
2021-07-12,427.45,427.88,12886781,5.513982e+14,130234,3100116,0.2406
2021-07-13,429.10,429.95,12831125,5.516711e+14,116776,4276395,0.3333
2021-07-14,431.05,429.74,12767351,5.486703e+14,157944,4429592,0.3469
2021-07-15,431.70,431.53,11030732,4.760107e+14,126999,3378724,0.3063
2021-07-16,430.00,429.67,8713863,3.744069e+14,86998,2161111,0.2480

In [27]:
df.columns.to_list()

['Close',
 'VWAP',
 'Volume',
 'Turnover',
 'Trades',
 'Deliverable Volume',
 '%Deliverble']